<%- include('./partials/head.ejs') %>

  <body>

    <% league.forEach(element=> { %>
      <a href="/liga/<%= element.name %>">
        <img src="/images/imgs-logo-FMS/<%= element.image %> " alt="">
      </a>
      <% }) %>

  </body>

  </html>