<%- include('./partials/head.ejs') %>

  <body>

    <!-- <h1 class="rotate__message">rotar pantalla</h1> -->

    <main class="main-container">

      <h2>comience a votar</h2>

      <%- include('./partials/mcs.ejs') %>
      <%- include('./partials/easyMode.ejs') %>

    </main>
      <%- include('./partials/scripts.ejs') %>
  </body>

  </html>