<%- include('./partials/head.ejs') %>

  <body>

    <h1 class="rotate__message">rotar pantalla</h1>

    <main class="main__container">

      <h2>comience a votar</h2>

      <%- include('./partials/mcs.ejs') %>

    </main>

  </body>

  </html>